.container {
    background: var(--bg);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.infoHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 75%;
    z-index: 100;
    position: relative;

}

.mainTitle {
    width: 65%;
    top: 21vh;
    left: 0;
    position: absolute;

}

.container__title {
    font-size: 5vw;
    margin: 0;
    color: var(--primarycolor)
}

.container__subtitle {
    color: var(--lowPrimaryColor);
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 140%;
}

.imghero {
    position: absolute;
    height: 100vh;
    width: 45%;
    right: 0;
}

.container__form {
    display: flex;
    position: absolute;
    width: 35rem;
    height: auto;
    left: 0;
    gap: 2rem;
    bottom: 27vh;


}

.form__input {
    order: 1;
    border-radius: 15px;
    height: 3rem;
    width: 30rem;
    margin-right: 1rem;
    font-family: inherit;
    border: none;
    background: #bdadff60;
    color: var(--primarycolor);
    padding-left: 1rem;
}

.form__input::placeholder {

    color: var(--lowPrimaryColor);
}

.form__button {
    order: 2;
    font-weight: bold;
    height: 3rem;
    width: 10rem;
    padding: 0 .5rem;
    border-radius: 15px;
    background: transparent;
    color: var(--primarycolor);
    border: .15rem solid var(--primarycolor);
    transition: 300ms;
}

.form__button:hover {
    background: var(--primarycolor);
    color: var(--bg);
}

@media screen and (max-width: 960px) {
    .container {
        overflow: hidden;
    }

    .mainTitle {

        width: 100%;
        transform: translateX(8%);
    }

    .container__title {
        font-size: 8vw;
    }

    .container__subtitle {
        font-size:3vw;
    }

    .container__form {
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
        width: 80vw;
        max-width: 460px;
        transform: translateX(8%);
        bottom: 32vh;
    }

    .form__input {
        flex: 1;
        margin: 0;
        order: 1;
    }

    .form__button {
        flex: 1;
        order: 2;
    }

}

@media screen and (max-width: 414px) {
    .container {
        overflow: hidden;
    }

    .imghero {
        width: 100%;
        filter: grayscale(.6);
        transform: translateX(8%);
    }
    

    .infoHero {
        width: 85%;
        transform: translateX(15%);
    }

    .mainTitle {
        position: absolute;
        width: 85%;
        left: 0;
        margin: 0;
        transform: translateX(5%);
    }

    .container__title {
        font-size: 8vw;
       
    }

    .container__subtitle {
        margin-top: 1rem;
        font-size: 3.5vw;
    }

    .container__form {
       display: grid;   
        bottom: 30vh;
        width: 85%;
        transform: translateX(5%);
        margin: 0;

    }

    .form__input {
       width: 100%;
        margin: 0;
        order: 1;
        padding: 0;
    }

    .form__button {
        width: 100%;
        order: 2;
    }

}
@media screen and (max-width: 370px){
.infoHero{
    transform: translateX(3rem);
}

}
